 /* Global CSS resets, base styles */
@import "./variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: var(--font-roboto);
  overflow: hidden;
}


::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: rgb(var(--color-text-100));
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-text-300));
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--color-text-500));
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--color-text-400)) rgb(var(--color-text-100));
}

/* Custom scrollbar hide utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.command-list-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: thin;
}

.command-list-scrollbar::-webkit-scrollbar {
  display: none;
}

 /* Hide spin buttons for number inputs */
 .hide-spin-button::-webkit-outer-spin-button,
 .hide-spin-button::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 .hide-spin-button {
   -moz-appearance: textfield;
   appearance: textfield;
 }